* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif
}

/** Navbar **/
.nav-bar{
  height: 120px;
}

.navbar-brand{
  font-size:25px;
  padding-left: 20px;
}

.nav-pills .nav-link {
  border-radius: var(--bs-nav-pills-border-radius);
  color: black;
  font-size: 18px;
}

nav li:hover{
  background-color: lightgrey;
  color: white;
}

.navlink-style{
  text-decoration: none;
}

.btn-outline-success {
  --bs-btn-color: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #000;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #495057;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}

/** Home Page **/
.hero-section{
  display: flex;
  max-width: 100%;
  height: 650px;
}

.lhs{
  font-family: 'DM Sans';
  max-width: 50%;
  justify-content: center;
  align-items: center;
  padding: 120px 90px;
}

.shop-stats{
  max-width: 300px;
  display: flex; 
  padding: 30px 0px;
  justify-content: space-between;
  font-weight: bold;
  height: 20px;
}

.shop-stats-details{
  max-width: 300px;
  display: flex; 
  padding: 30px -50px;
  justify-content: space-between;
}

.rhs{
  max-width: 50%;
  padding-top: 20px;
}

.bg-image{
  width: 570px;
  height: 530px;
  background-image: url(./assets/img/bg.png);
  padding-top: 10%; 
}

.bg-image-thumbnail{
  width: 60%;
  height: 70%;
  display:block;
  margin:auto;
}

.jacket-imgs{
  height: 170px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 50px;
}

.icon-img{
  align-self: flex-end;
  width: 100px;
  background-image: url(./assets/img/bg.png);
  border-radius: 15px;
  box-shadow: 0px 2px 4px 4px grey;
}

.sale-page{
  background-color: pink;
  height: 400px;
}

/** Categories Page **/
.categories{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.category-images{
  display: flex;
  justify-content: space-between;
}

/** Shop Page **/
.card-container{
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
}

.shop-heading{
  padding-top: 40px;
  text-align: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.shop-tag{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-badge{
  background-color: red;
  color: white;
  padding-top: 5px;
  border-radius: 2px;
  text-align: center;
  height: 40px;
  width: 80px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-saleprice{
  text-decoration: line-through;
}

.card-discount{
  display: flex;
  justify-content: space-between;
}

.css-1xez8po-MuiPaper-root-MuiCard-root {
  background-color: aliceblue!important;
}
/** Deals Page **/
.sale-description{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.deal-cards{
  padding-top: 30px;
}
.discount-image{
  height: 120px;
}
.footer-padding{
  padding-top: 50px;
}

.my-5{
  margin-top: -1rem!important;
}

/** Contact **/
.contact{
  padding-top: 80px;
  padding-left: 40px;
}

/** Footer **/
.nav-item{
  text-decoration: none;
}